<launch>

  <arg name="model" default="$(find marker_tests)/urdf/rrr1.urdf" />
  <arg name="gui" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)" />

  <node pkg="tf" type="static_transform_publisher" name="mocap_to_first" args="0.25 0.25 0 0 0 0 mocap first 1000" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" required="true" />
  <node name="marker_tests_node" pkg="marker_tests" type="marker_tests_node">
    <param name="marker_path" type="str" value="/home/floris/src/mocap_measurements/src/marker_tests/markers/rrr1.xml" />
    <param name="markers" type="str" value="/markers" />
    <param name="source_frame" type="str" value="mocap" />
  </node>

  <node pkg="marker_visualization" type="node" name="marker_visualization">
    <param name="marker_default_r" type="double" value="0" />
    <param name="marker_default_g" type="double" value="1" />
    <param name="marker_default_b" type="double" value="0" />
    <param name="marker_default_a" type="double" value="1" />
    <remap from="~markers" to="/markers" />
  </node>

</launch>
